<%= render 'pages/home' unless user_signed_in? %>
<div id="hacks" class="transitions-enabled">
  <% @hacks.each do |hack| %>
    <div class="box panel panel-default">
      <div class="hoverimage">
      <%= link_to image_tag(hack.image.url(:medium)), hack %>
      </div>
      <div class="panel-body">
        <strong><%= hack.description if hack.user %></strong>
        <br>
        
        <br>
        <p>by <%= link_to hack.user.name, hack.user if hack.user %></p>
        <a class="awesome-btn" onclick="addLike(<%=hack.id%>)"><span class="glyphicon glyphicon-hand-up"></span> Awesome</a>    
        <p class="num-likes"><%= hack.likes.count %></p>
     </div>
    </div>
  <% end %>
</div>

<div class="center">
   <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>


<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"
    data-pin-hover="true"
></script>
        