<%= render 'pages/home' unless user_signed_in? %>

<div id="hacks" class="transitions-enabled">
  <% @hacks.each do |hack| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(hack.image.url(:medium)), hack %>
      <div class="panel-body">
        <strong><%= hack.description if hack.user %></strong>
        <br>
        <p>by <%= hack.user.name if hack.user %></p>
        <%= link_to likes_path(:user_id => hack, :hack_id => hack), :method => :post do %>
        <span class="glyphicon glyphicon-hand-up"></span> Awesome
        <% end %>     
     </div>
    </div>
  <% end %>
</div>

<div class="center">
   <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>





        