<div id="hacks" class="transitions-enabled">
  <% @hacks.each do |hack| %>
    <div class="box panel panel-default">
      <%= image_tag hack.image.url(:medium) %>
      <div class="panel-body">
        <%= hack.description if hack.user %>
        <%= hack.user.email if hack.user %>
        <%= link_to 'Show', hack %>
        <% if hack.user == current_user %>
          <%= link_to 'Edit', edit_hack_path(hack) %>
          <%= link_to 'Destroy', hack, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
     </div>
    </div>
  <% end %>
</div>




