<%= render 'pages/home' unless user_signed_in? %>

<div id="hacks" class="transitions-enabled">
  <% @hacks.each do |hack| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(hack.image.url(:medium)), hack %>
      <div class="panel-body">
        <strong><%= hack.description if hack.user %></strong>
        <br>
        <%= hack.user.email if hack.user %>
        <% if hack.user == current_user %>
         <div class="actions">
          <%= link_to edit_hack_path(hack) do %>
            <span class="glyphicon glyphicon-edit"></span> Edit
          <% end %>
          <%= link_to hack, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <span class="glyphicon glyphicon-trash"></span> Delete
          <% end %>
         </div>
        <% end %>
     </div>
    </div>
  <% end %>
</div>

