<div class="profile_container">
  <div class="profile_picture">
  </div>
  <div class="profile_info">
    <h2 id="user_name"><%= @user.name %></h2>
    <% if @user == current_user %>
      <%= link_to edit_user_registration_path do %>
      <span class="glyphicon glyphicon-pencil"></span> Edit profile
      <% end %>
    <% end %>


    <% if user_signed_in? && @user != current_user %>
      <div class="follow_btn"><%= link_to "Follow", followings_path(:follower_id => @user), :method => :post, class: "btn btn-warning btn-sm" %></div>
    <% end %>

    


  </div>
</div>

<div class="tab-container">
  <ul class="nav nav-tabs nav-justified" id="myTab">
    <li class="active"><a href="#awesome" data-toggle="tab">Awesome Hacks</a></li>
    <li><a href="#my" data-toggle="tab">My hacks</a></li>
    <li><a href="#profile" data-toggle="tab">Profile</a></li>
  </ul>


     
  <div class="tab-content">
    <div class="tab-pane active" id="awesome">
      <div id="hacks" class="transitions-enabled">
        <% @user.likes.each do |like| %>
          <div class="box panel panel-default">
            <%= link_to image_tag(like.hack.image.url(:medium)), like.hack if like.hack %>
            <div class="panel-body">
              <strong><%= like.hack.description if like.hack %></strong>
              <br>
              by <%= link_to like.hack.user.name, like.user if like.hack %> 
              <br>
              <strong><%= link_to like, method: :delete, data: { confirm: 'Are you sure?' } do %></strong>
              <span class="glyphicon glyphicon-trash"></span> Remove
              <% end %>

            </div>
          </div> 
        <% end %>    
      </div>
  </div>

  <div class="tab-pane" id="my">
    <div id="hacks">
      <div class="awesome">
        <% @user.hacks.each do |hack| %>
        <div class="awesome_hack">
          <div class="box panel panel-default">
            <%= link_to image_tag(hack.image.url(:medium)), hack %>
            <div class="panel-body">
              <strong><%= hack.description if hack.user %></strong>
              <br>
              <%= hack.user.name if hack.user %>
              <% if current_user && hack.user == current_user %>
               <div class="actions">
                <%= link_to edit_hack_path(hack) do %>
                  <span class="glyphicon glyphicon-edit"></span> Edit
                <% end %>
                <%= link_to hack, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="glyphicon glyphicon-trash"></span> Delete
                <% end %>
                </div>
              <% end %>
           </div>
          </div>
        </div>
        <% end %> 
      </div> 
    </div>
  </div>

  <div class="tab-pane" id="profile">
    <div id="hacks">
      <div class="awesome">


        <div class="relationships">
          <h3>Followings</h3>
          <div class="row">
            <% @user.followings.each do |following| %>
            <div class="col-sm-3 col-md-3">
              <div class="thumbnail">
                <img src="https://i.imgur.com/9GrOH9h.jpg?1" alt="...">
                <div class="caption">
                  <strong><%= link_to following.follower.name, following.follower if following.follower %></strong>
                  <% if @user == current_user %>
                    <div class="unfollow_btn"><%= link_to "Unfollow", following, :method => :delete, class: "btn btn-default btn-sm" %></div>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
          </div>

          <h3>Followers</h3>
          <div class="row">
            <% @user.inverse_followers.each do |follower| %>
            <div class="col-sm-3 col-md-3">
              <div class="thumbnail">
                <img src="https://i.imgur.com/9GrOH9h.jpg?1" alt="...">
                <div class="caption">
                  <strong><%= link_to follower.name, follower if follower %></strong>
                </div>
              </div>
            </div>
            <% end %>
          </div>
          </div> 
        </div>
    </div>
  </div>
</div>





